body {
    margin: 0;
    background-color: beige;
}

#monster-table {
    border-collapse: collapse;
    width: 100%;
    overflow-y: auto;
}

#monster-table thead {
    position: sticky;
    top: 0px;
}

#monster-table thead tr {
    background-color: beige;
}

#monster-table thead tr th div {
    display: flex;
    align-items: center;
}

#monster-table thead tr th div img {
    width: 10px;
    height: 10px;
    padding-left: 20px;
}

#monster-table tr:nth-child(even) {
    background-color: white;
}

#monster-table th, td {
    padding: 1% 4%;
}

.rotatedown {
    transform: rotate(90deg);
}

.rotateup {
    transform: rotate(-90deg);
}
